.bharathi-page{
background-image: url("http://cdn.shopify.com/s/files/1/0579/4434/2720/products/BharathicementOPC53Grade.png?v=1629802462");
  background-size: "cover";
  height: 300px;
  margin-top: 30px;
  
}
  
.chettinad-page{
    background-image: url("https://www.materialtree.com/pub/media/catalog/product/cache/ecd051e9670bd57df35c8f0b122d8aea/c/h/chettinad-43grade-base.jpg");
    background-size: "cover";
    height: 300px;
    margin-top: 30px;
  }  
  .jaypee-page{
    background-image: url("https://tiimg.tistatic.com/fp/1/004/807/good-quality-jsw-cement-939-w300.jpg");
    background-size: "cover";
    height: 300px;
    margin-top: 30px;
  } 
